body {
    margin: 0;
    padding: 0;
    font-family: "Lobster Two", cursive;
    background: linear-gradient(to bottom,
        #F599B6, #F5B379, #F4E784, #99F589, #93EDF5, #B999F5);
    text-align: center;
}
/* logo */
.logo-overlay {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 400px;
  z-index: 10;
  pointer-events: none;
}
/* nav */
.navbar {
    background: white;
    padding: 12px 0;
    border-radius: 50px;
    width: 55%;
    margin-top: 40px;

    margin-left: auto; 
    margin-right: 60px; 

    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
    position: relative;
    z-index: 20;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.about-title {
    font-family: "Lobster Two", cursive;
    font-size: 72px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: black;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin: 0 auto;
    width: 90%;
}

.side-images {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.side-images img {
    width: 280px;
    border-radius: 30px;
    background: white;
    padding: 15px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.25);
}

.about-text-box {
    background: white;
    padding: 20px 35px;
    border-radius: 40px;
    width: 550px;
    font-family: "Lobster Two", cursive;
    font-size: 40px;
    line-height: 1.6;
    box-shadow: 0 4px 18px rgba(0,0,0,0.3);
    text-align: center;
}

.instagram {
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
}
.insta-link {
    font-size: 26px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.insta-link:hover {
    opacity: 0.7;
    cursor: pointer;
}