body {
    margin: 0;
    padding: 0;
    font-family: "Lobster Two", cursive;
    background: linear-gradient(to bottom,
        #F599B6, #F5B379, #F4E784, #99F589, #93EDF5, #B999F5);
    text-align: center;
}

/* logo */
.logo-overlay {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 400px;
  z-index: 10;
  pointer-events: none;
}
/* nav */
.navbar {
    background: white;
    padding: 12px 0;
    border-radius: 50px;
    width: 55%;
    margin-top: 40px;

    margin-left: auto; 
    margin-right: 60px; 

    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
    position: relative;
    z-index: 20;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* layout */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 100px;
}

.left-images {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 50px;
}

.left-images img {
    width: 280px;
    border-radius: 30px;
    background: white;
    padding: 15px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.25);
}

.form-box {
    background: white;
    padding: 40px;
    width: 550px;
    border-radius: 40px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.3);
    text-align: left;
}

.form-box h1 {
    font-size: 60px;
    margin-top: 0;
    font-family: "Lobster Two", cursive;
    text-align: center;
}
.submit-btn {
    display: block;
    margin: 20px auto 0 auto;
    padding: 12px 28px;
    font-size: 26px;
    font-family: "Lobster Two", cursive;
    background: #ffffff;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
    transition: 0.25s;
}

.submit-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.name-fields {
    display: flex;
    gap: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    font-family: "Lobster Two", cursive;
}

.instagram {
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
}
.insta-link {
    font-size: 26px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.insta-link:hover {
    opacity: 0.7;
    cursor: pointer;
}
