body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster Two", cursive, sans-serif;
    background: linear-gradient(
        to bottom,
        #F599B6,
        #F5B379,
        #F4E784,
        #99F589,
        #93EDF5,
        #B999F5);
    text-align: center;
}

.header {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.header-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
/* logo */
.logo-overlay {
  position: absolute;
  top: 10px;      
  left: 40px;     
  width: 450px;  
  z-index: 10;   
  pointer-events: none;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.top-right {
    position: absolute;
    right: 40px;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
/* nav */
.navbar {
    background-color: white;
    background: linear-gradient(
        to right,
        #F599B6,
        #F5B379,
        #F4E784,
        #99F589,
        #93EDF5,
        #B999F5);
    padding: 12px 0;
}

.navbar ul {
    background-color: white;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar li {
    margin: 0 5%;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Lobster Two', cursive;
}

.products {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 3% 5%;
}

.product {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 450px;
    padding: 15px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product p {
    font-family: "Lobster Two", cursive;
    font-weight: bold;
    font-size: 34px;
    margin-top: 10px;
}

