body {
    margin: 0;
    padding: 0;
    font-family: "Lobster Two", cursive;
    background: linear-gradient(to bottom,
        #F599B6, #F5B379, #F4E784, #99F589, #93EDF5, #B999F5);
    text-align: center;
}
/* logo */
.logo-overlay {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 400px;
    z-index: 10;
    pointer-events: none;
}
/* nav */
.navbar {
    background: white;
    padding: 12px 0;
    border-radius: 50px;
    width: 55%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 60px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
    position: relative;
    z-index: 20;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.main-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
    padding: 0;
}

.left-text {
    text-align: left;
    margin-left: 140px;
    margin-top: 120px;
}

/* NEW ARRIVALS */
.title-line1,
.title-line2 {
    font-size: 130px;
    font-weight: 700;
    margin: 0;
    line-height: 0.8;
    letter-spacing: 2px;
}

.insta {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}

.insta img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.insta span {
    font-size: 42px;
    font-weight: 700;
    margin-top: 0px;
}

.insta-link {
    font-size: 42px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.insta-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.big-img-box {
    background: white;
    padding: 40px;
    border-radius: 45px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.30);
    margin-top: -40px; 
    margin-right: 160px;  
}

.big-img-box img {
    width: 650px;         
    border-radius: 35px;
}
